* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: roboto, arial, sans-serif;
}

a {
  color: #000 !important;
  font-weight: 500 !important;
}
h2 {
  font-size: 3.2rem;
}
p {
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}
nav {
  padding: 2rem 0rem !important;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 100;
}

.inner-nav {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}
.inner-nav a {
  font-size: 1.8rem;
}
.inner-nav ion-icon {
  font-size: 3rem;
}
.link-margin {
  margin: 0 5rem;
}
.navbar-brand {
  margin: 0 !important;
}
/* header */
.header_component {
  position: relative;
  width: 100%;
  height: 78rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_component img {
  position: absolute;
  object-fit: cover;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1440px;
  height: 100%;
}
.h_component_inner {
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  padding: 5rem 1rem;
  width: 100%;
  max-width: 80rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  font-size: 2rem;
}
.h_component_inner a {
  border: none;
  text-decoration: none;
  background-color: #56b280;
  color: #fff !important;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 30rem;
}
.h_component_inner h1 {
  font-size: 4rem;
}
.h_component_inner p {
  padding: 0rem 8rem;
}

/* products */
.products {
  width: 100%;
  max-width: 130rem;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.product-image {
  position: relative;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}
.product-image span {
  position: absolute;
  top: 1rem;
  text-transform: uppercase;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.product-image span:first-child {
  left: 1rem;
}

.product-image img {
  width: 100%;
  transition: transform 0.15s;
  cursor: pointer;
}
.product-image img:hover {
  object-fit: cover;
  transform: scale(1.2);
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.product-info p {
  font-size: 1.7rem;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}
.product-heading,
.product-paragraph {
  text-align: center;
  margin: 1rem 0rem;
}
.product--inner-container {
  text-align: center;
  font-size: 4rem;
  padding: 0rem;
}
.product--inner-container ion-icon {
  cursor: pointer;
}
